* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
  }

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
