body {
    background-color: #DAF7A6 ;	
    font-family: Arial, Helvetica, sans-serif;
    color: #900C3F;
}

* {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.header-container {
    background-color: #FFC300;
    padding: 50px
}

.first-page-container {
    padding: 50px;
}

h1, h2, p, button {
    margin: 10px;
}

.users-container {
    padding: 50px
}

.new-user-container {
    border-style: solid;
    padding: 50px
}

.items-container {
    margin: 10px;
}

.new-item-container {
    border-style: solid;
    padding: 50px
}

footer {
    margin-top: 100px;
    margin-bottom: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footercontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
